<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>UEFA 2012</title>
    <link rel='stylesheet' href='normalize.css'>
    <link rel='stylesheet' href='uefa.css'>
    <script src='libs/jquery.js'></script>
    <script src='libs/jquery.tmpl.js'></script>
    <script src='libs/underscore.js'></script>
    <script src='libs/raphael.js'></script>
    <script src='paths.js'></script>
    <script src='data_begin.js'></script>
    <script src='uefa.js'></script>
  </head>
  <script id="match_listitem" type="text/x-jQuery-tmpl">
    <div class='list listitem'>
        <div class='list extrainfo'>
          ${location_data.short_name}<br/>
          ${date} ${time}
        </div>
        <div class='list team1'>
          <div class='list icon ${team_1_data.short_name}' />
          <div class='list teamname'>${team_1_data.short_name}</div>
        </div>
        <div class='list result'>
          {{if isOpen }}
          --:--
          {{else}}
          ${score.team_1}:${score.team_2}
          {{/if}}
          <br/>
          {{if isNV}}<span class='list subresult'>(${subscore.team_1}:${subscore.team_2} nV)</span>{{/if}}
          {{if isNE}}<span class='list subresult'>(${subscore.team_1}:${subscore.team_2} nE)</span>{{/if}}
        </div>
        <div class='list team2'>
          <div class='list teamname'>${team_2_data.short_name}</div>
          <div class='list icon ${team_2_data.short_name}' />
        </div>
        <div class='list links'>
          {{if link_1}}<a class='list link' href="${link_1.url}">${link_1.label}</a><br/>{{/if}}
          {{if link_2}}<a class='list link' href="${link_2.url}">${link_2.label}</a>{{/if}}
        </div>
      </div>
  </script>
  <body>
    <div id='container'>
      <div id='logo'><img src='images/logo.png'/></div>
      <div id='details'></div>
      <div id='stage'></div>
      <div id='flags'></div>
      <div id='social'>
        <a href='http://twitter.com/home?status=http://www.labor1.de/zdf/SpielplanEuro2012' rel="external"><img src='images/twitter_button.png' /></a>
        <a href='http://www.facebook.com/sharer.php?u=http://www.labor1.de/zdf/SpielplanEuro2012' rel="external"><img src='images/fb_button.png' /></a>
      </div>
      <div id='abspann'>
        <a href='#' onclick='uefastadion.onClickAbspann()'>Abspann</a>
      </div>
      <div id='trckpxl' style='display:none;'>
      </div>
  </div>
  </body>
</html>
