@font-face {
    font-family: 'Swiss721Regular';
    src: url('webfonts/swissbtbla-webfont.eot');
    src: url('webfonts/swissbtbla-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/swissbtbla-webfont.woff') format('woff'),
         url('webfonts/swissbtbla-webfont.ttf') format('truetype'),
         url('webfonts/swissbtbla-webfont.svg#Swiss721Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Swiss721Black';
    src: url('webfonts/swiss721bt-black-webfont.eot');
    src: url('webfonts/swiss721bt-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/swiss721bt-black-webfont.woff') format('woff'),
         url('webfonts/swiss721bt-black-webfont.ttf') format('truetype'),
         url('webfonts/swiss721bt-black-webfont.svg#Swiss721Black') format('svg');
    font-weight: normal;
    font-style: normal;
}

#flags {
  position: absolute;
  top: 42px;
  left: 93px;
  background-image: url('images/stadion_flags.png');
  background-repeat: no-repeat;
  width: 946px;
  height: 532px;

}

#container {
  background-image: url('images/bg.png');
  width: 946px;
  height: 532px;
}
#logo {
  padding-top: 7px;
  padding-left: 20px;
}
#stage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

}
#social {
  position: absolute;
  left: 16px;
  top: 480px;
  z-index:2;
}
#details {
  position: absolute;
  left: 284px;
  top: 100px;
  z-index: 3;
  pointer-events: none;
}
#abspann {
  position: absolute;
  left: 890px;
  top: 510px;
  z-index: 3000;
}
#abspann a {
  text-decoration: none;
  font-size: 11px;
  font-weight: bold;
  color: #fa7d19;
}
#abspann a:hover {
  text-decoration: underline;
}
.games_6 {
  background-image: url('images/6_games_detail.png');
  background-repeat: no-repeat;
  height: 224px;
  width: 418px;
  padding-top: 38px;
  padding-left: 50px;
  
}
.games_5 {
  background-image: url('images/5_games_detail.png');
  background-repeat: no-repeat;
  height: 284px;
  width: 418px;
  padding-top: 54px;
  padding-left: 50px;
}
.games_4 {
  background-image: url('images/4_games_detail.png');
  background-repeat: no-repeat;
  height: 154px;
  width: 418px;
  padding-top: 73px;
  padding-left: 50px;
}
.games_3 {
  background-image: url('images/3_games_detail.png');
  background-repeat: no-repeat;
  height: 154px;
  width: 418px;
  padding-top: 90px;
  padding-left: 50px;
}
.games_title {
  font-size: 18px;
  font-family: 'Swiss721Black', Arial, Helvetica;
  color: #333333;
  position: absolute;
  width: 468px;
  text-align: center;
  left: 0px;
  top: 10px;
}
.games_2 {
  background-image: url('images/2_games_detail.png');
  background-repeat: no-repeat;
  height: 124px;
  width: 418px;
  padding-top: 109px;
  padding-left:  50px;
}
.games_1 {
  background-image: url('images/1_games_detail.png');
  background-repeat: no-repeat;
  height: 104px;
  width: 418px;
  padding-top: 125px;
  padding-left: 50px;
}

.listitem {
  display: block;
  width: 418px;
  height: 34px;
  padding-bottom: 2px;
  pointer-events: auto !important;
}
.list {
  display: inline-block;
  vertical-align: top;
  font-family: Arial, Helvetica;
}
.list.icon {
  margin-top: 6px;
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
}

.list.icon.ESP {
  background-image: url('images/icons/spanien.png');
}
.list.icon.GER {
  background-image: url('images/icons/germany.png');
}
.list.icon.DEN {
  background-image: url('images/icons/denmark.png');
}
.list.icon.ENG {
  background-image: url('images/icons/england.png');
}
.list.icon.FRA {
  background-image: url('images/icons/frankreich.png');
}
.list.icon.GRE {
  background-image: url('images/icons/griechenland.png');
}
.list.icon.IRL {
  background-image: url('images/icons/irland.png');
}
.list.icon.ITA {
  background-image: url('images/icons/italien.png');
}
.list.icon.CRO {
  background-image: url('images/icons/kroatien.png');
}
.list.icon.NED {
  background-image: url('images/icons/niederlande.png');
}
.list.icon.POL {
  background-image: url('images/icons/polen.png');
}
.list.icon.POR {
  background-image: url('images/icons/portugal.png');
}
.list.icon.RUS {
  background-image: url('images/icons/russland.png');
}
.list.icon.SWE {
  background-image: url('images/icons/schweden.png');
}
.list.icon.CZE {
  background-image: url('images/icons/tschechische_republik.png');
}
.list.icon.UKR {
  background-image: url('images/icons/ukraine.png');
}

.list.teamname {
  width: 30px;
  font-size: 13px;
  font-weight: bold;
  padding-top: 10px;
}
.list.extrainfo {
  padding-top: 2px;
  font-size: 9px;
  color: #333333;
  width: 80px;
  padding-left: 24px;
}
.list.team1 {
}
.list.result {
  margin-top: 5px;
  padding-right: 2px;
  padding-left: 2px;
  font-size: 22px;
  line-height: 15px;
  font-weight: bold;
}
.list.subresult {
  font-size: 9px;
}
.list.team2 {
}
.list.links {
  padding-left: 10px;
  padding-top: 3px;
  font-size: 12px;
  line-height: 15px;
}
a.list.link {
  font-family: Arial, Helvetica;
  color: #666666;
  font-weight: bold;
  text-decoration: none;
}
a.list.link:hover {
  text-decoration: underline;
}
#wrapper {
}

