#container {
  background-image: url('images/bg.png');
  width: 946px;
  height: 532px;
}
#logo {
  padding-top: 7px;
  padding-left: 20px;
}
#stage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;

}
#social {
  position: absolute;
  left: 16px;
  top: 480px;}
#details {
  position: absolute;
  left: 280px;
  top: 100px;
  z-index: 1;
}
#abspann {
  position: absolute;
  left: 890px;
  top: 510px;
}
#abspann a {
  text-decoration: none;
  font-size: 11px;
  font-weight: bold;
  color: #fa7d19;
}
#abspann a:hover {
  text-decoration: underline;
}
#wrapper {
}

